### Read in Dataframe

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("C:\\Users\\Ronald\\Documents\\EECS_738\\Projects\\Says One Neuron to Another\\zoo.csv")
df.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

### Create for activation functions for network

In [19]:
def sigmoid(x):  
    return 1/(1+np.exp(-x))

def relu(x):
    return np.maximum(0,x)

def softmax(x):
    e_x = np.exp(x - np.max(x))
    return e_x / e_x.sum()

# def relu_derivative(x):
    
# def sigmoid_derivative(x):  
#     return sigmoid(x)*(1-sigmoid(x))

In [ ]:
# # training and test sets for neural network
# test_set
# training_set

### Shape inputs for network

In [16]:
# inputs
inputs = df.drop(columns=['animal_name', 'class_type'])
inputs = np.array(inputs)
outputs = df['class_type'].values
outputs = outputs.reshape(len(outputs),1)

### Hyperparameters for network

In [ ]:
# np.random.seed(42)   
# bias = np.random.rand(1)  
# learning_rate = 0.05

### Training Script

In [21]:
hidden_weights = np.random.rand(len(inputs[0]),20)  
output_weights = np.random.rand(20, 7)  
# learning_rate = 0.05

# hidden layer
zh = np.dot(inputs, hidden_weights)
ah = relu(zh)

# output layer
zo = np.dot(ah, output_weights)
ao = softmax(zo)

# print mean squared error
error_out = ((1 / 2) * (np.power((ao - outputs), 2)))
print("Mean squared error is: %d" % error_out.sum())

Mean squared error is: 4381